:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.61 0.24 292.58);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.45 0.03 257.68);
  --muted: oklch(0.98 0 0);
  --muted-foreground: oklch(0.55 0.02 264.41);
  --accent: oklch(0.96 0.04 294.16);
  --accent-foreground: oklch(0.26 0.15 288.42);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.93 0.01 261.82);
  --input: oklch(0.89 0.01 261.82);
  --ring: oklch(0.33 0.18 292.67);
  --chart-1: oklch(0.74 0.14 286.11);
  --chart-2: oklch(0.6 0.18 284.03);
  --chart-3: oklch(0.46 0.18 284.18);
  --chart-4: oklch(0.31 0.18 283.82);
  --chart-5: oklch(0.21 0.13 280.31);
  --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.2 0 0);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(0.92 0 0);
  --sidebar-ring: oklch(0.71 0 0);
  --tw-shadow-color: oklch(0.14 0.18 292.9);
}

.dark {
  --background: oklch(0.2 0 0);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.27 0 0);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.27 0 0);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.61 0.22 292.73);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.27 0 0);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.44 0.18 292.9);
  --accent-foreground: oklch(0.88 0.08 308.72);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.37 0 0);
  --input: oklch(0.37 0 0);
  --ring: oklch(0.66 0.2 292.58);
  --chart-1: oklch(0.8 0.12 299.56);
  --chart-2: oklch(0.66 0.17 292.76);
  --chart-3: oklch(0.52 0.18 293);
  --chart-4: oklch(0.42 0.18 292.57);
  --chart-5: oklch(0.31 0.17 293.05);
  --sidebar: oklch(0.21 0.01 285.56);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.61 0.22 292.73);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.27 0.01 285.81);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.55 0.02 285.76);
}
